src/main/resources/soup-contract/BankTransaction.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid Studio 2021 (https://www.liquid-technologies.com)-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="GetAccountBalance">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="request" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CorporateCode" type="xs:string" minOccurs="1" />
                            <xs:element name="AccountNumber" type="xs:string" minOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="GetAccountBalanceResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="GetAccountBalanceResult" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CorporateCode" type="xs:string" minOccurs="1" />
                            <xs:element name="AccountNumber" type="xs:string" minOccurs="1" />
                            <xs:element name="Balance" type="xs:decimal" minOccurs="1" />
                            <xs:element name="StatusCode" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="StatusDescription" type="xs:string" minOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddPaymentLocal">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dto" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="PaymentTransactions" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="PaymentTransactionLocal" minOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="DestinationBankCode" type="xs:unsignedByte" minOccurs="1" />
                                                    <xs:element name="Beneficiary" type="xs:string" minOccurs="1" />
                                                    <xs:element name="AccountNumber" type="xs:string" minOccurs="1" />
                                                    <xs:element name="Amount" type="xs:unsignedShort" minOccurs="1" />
                                                    <xs:element name="Naration" type="xs:string" minOccurs="1" />
                                                    <xs:element name="ValueDate" type="xs:date" minOccurs="1" />
                                                    <xs:element name="TransactionReference" type="xs:string" minOccurs="1" />
                                                    <xs:element name="BeneficiaryEmail" type="xs:string" minOccurs="1" />
                                                    <xs:element name="BeneficiaryPhone" type="xs:string" minOccurs="1" />
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="CorporateCode" type="xs:string" minOccurs="1" />
                            <xs:element name="Currency" type="xs:string" minOccurs="1" />
                            <xs:element name="SingleDebitNaration" type="xs:string" minOccurs="1" />
                            <xs:element name="EnableSingleDebit" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="Date" type="xs:date" minOccurs="1" />
                            <xs:element name="TotalTransactions" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="SourceAccount" type="xs:string" minOccurs="1" />
                            <xs:element name="Amount" type="xs:unsignedShort" minOccurs="1" />
                            <xs:element name="PaymentMethodId" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="PaymentTypeId" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="BatchReference" type="xs:string" minOccurs="1" />
                            <xs:element name="Username" type="xs:string" minOccurs="1" />
                            <xs:element name="Password" type="xs:string" minOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AddPaymentLocalResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="AddPaymentLocalResult" minOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="CorporateCode" type="xs:string" minOccurs="1" />
                            <xs:element name="BatchReference" type="xs:string" minOccurs="1" />
                            <xs:element name="AccountNo" type="xs:string" minOccurs="1" />
                            <xs:element name="StatusCode" type="xs:unsignedByte" minOccurs="1" />
                            <xs:element name="StatusDescription" type="xs:string" minOccurs="1" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>